(
  axes: {
    "camera_x": Emulated(pos: Key(D), neg: Key(Q)),
    "camera_y": Emulated(pos: Key(S), neg: Key(Z)),
  },
  actions: {
    "left_click": [[Mouse(Left)]],
    //"shift": [[Key(LShift)], [Key(RShift)]],
    //"reload": [[Key(R)]],
  },
)
