(
  axes: {
    "camera_x": Emulated(pos: Key(D), neg: Key(Q)),
    "camera_y": Emulated(pos: Key(S), neg: Key(Z)),
  },
  actions: {
    "left_click": [[Mouse(Left)]],
    "right_click": [[Mouse(Right)]],
    //"shift": [[Key(LShift)], [Key(RShift)]],
    "right": [[Key(Space)]],
  },
)
