#![enable(implicit_some)]
Prefab (
  entities: [
    ( data: (
        transform: Transform (
          translation: ( 0.0, 2.0, 10.0 ),
          rotation: ( 1.0, 0.0, 0.0, 0.0 ),
        ),
        camera: Orthographic((
          left: -6.0,
          right: 6.0,
          top: 6.0,
          bottom: -6.0,
          znear: 0.1,
          zfar: 2000.0,
        )),
        control_tag: (), // fly control tag
      ),
    ),
  ],
)
